.admin-entry
	- if user_signed_in?
		= link_to 'edit', "/admin/static_page/#{@static_page.id}/edit"
- content_for(:og_title, @static_page.title)
- content_for(:image, @static_page.header_image.url) if @static_page.header_image.exists?
- content_for(:description, @static_page.body)
- content_for(:body_class, @static_page.slug)
= image_tag @static_page.header_image.url(:large), width: 1200, height: 535, class: 'glitch' if @static_page.header_image.exists?
.static-header
	%h1.static-name= @static_page.title
.static-page-body= @static_page.body.html_safe
