.admin-entry
	- if user_signed_in?
		= link_to 'edit', "/admin/artist/#{artist.id}/edit", data: {turbolinks: "false"}
- links = artist.links
.single-artist
	.artist-profile
		= image_tag(artist.profile_picture.url(:banner))
	%h1.artist-name= artist.name
	%h4.labels.sup= artist.label
	%h4.origin.sup= artist.country
.biography.artist-desc
	= interpolate(artist.biography, image: artist.profile_picture.url(:banner)).html_safe unless artist.biography.blank?
	- if !links.empty?
		%ul.links
			- links.each do |l|
				%li.link= link_to l.url, l.url, target: "_blank", class: [l.text_to_show.parameterize, 'social'].join(' ')
