- content_for(:og_title, "Mapping Festival 2016 – Artists")
- content_for(:image, image_url('lines_1.png'))
- content_for(:description, "Watch out for all the great artists lined up for you!")
.page-title
	%h1.index-title Artists
= render 'layouts/filters'
.grid.artists-list{data: {url: 'admin/artists/sort'}}
	.grid-sizer.grid-item
	- @artists.each do |artist|
		- event = artist.events.first
		- type = artist.type
		- classes = [type]
		- classes.push(event.category) unless event.blank?
		- classes.push("grid-item--width2") if artist.featured?
		.grid-item.mix.artist{class: classes, data: {position: artist.position, id: artist.id}}
			- path = artist_path(artist, locale: I18n.locale)
			= image_tag artist.profile_picture.url(artist.featured? ? :large : :tile)
			= link_to path, class: 'tile-link' do
				.info
					%h5.artist-event-type= artist.events.first.try:category unless event.blank?
					%h3.artist-name= artist.name
					%h4.artist-event= event.title unless event.blank?
