%ul.grid-3-col.artists-list
	- @artists.each do |artist|
		%li.mix.artist{data: {position: artist.id}}
			- path = artist_path(artist, locale: I18n.locale)
			= link_to path do
				.tile
					= image_tag artist.profile_picture.url(:tile), size: artist.profile_picture.image_size(:tile), class: 'glitch'
					- event = artist.events.first
					.info
						- type = event.category.blank? ? t("events.types.#{event.type}") : t("events.categories.#{event.category}") unless event.blank?	
						%h2.type= type unless type.blank?	
						%h1.artist-name
							= artist.name
						%h2.event-title= event.title unless event.blank?	
						.location
							= schedule_for(event) unless event.blank?
							= event.location.name unless event.blank?