%ul.grid-3-col
	- @artists.each do |artist|
		%li.mix.artist{data: {position: artist.id}}
			- path = artist_path(artist, locale: I18n.locale)
			= link_to path do
				.tile
					= image_tag artist.profile_picture.url(:tile), class: 'glitch'
					- event = artist.events.first
					.info
						%h2.type= event.type unless event.blank?	
						%h1.artist-name
							= artist.name
						%h2.event-title= event.title unless event.blank?	
						.location
							= schedule_for(event) unless event.blank?
							= event.location.name unless event.blank?