%ul.grid-3-col
	- @artists.each do |artist|
		%li.mix.artist{data: {position: artist.id}}
			- path = artist_path(artist)
			= link_to path do
				.tile
					= image_tag artist.profile_picture.url(:tile), class: 'glitch'
					- event = artist.events.first
					.info
						%h2.type= artist.events.first.type
						%h1.artist-name
							= artist.name
						.event-info
							%h2.event-title= event.title unless event.blank?	
							.location
								= schedule_for(event) unless event.blank?
								= event.location.name unless event.blank?
						-#%h3= artist.label
