#filters
	.cat-filters
		- Event.type_enum.each do |type|
			/ - if type != :single_event
			/ 	%input.cat-filter{:type => "checkbox", value: type, id: "category-#{type}", checked: true}
			/ 		%label{:for => "category-#{type}"}= t("events.types.#{type}")
		- Event.category_enum.each do |cat|
			%input.cat-filter{:type => "checkbox", value: cat, id: "category-#{cat}", checked: true}
				%label{:for => "category-#{cat}"}= t("events.categories.#{cat}")
.grid.artists-list{data: {url: 'admin/artists/sort'}}
	- @artists.each do |artist|
		- event = artist.events.first
		- type = event.category.blank? ? t("events.types.#{event.type}") : t("events.categories.#{event.category}") unless event.blank?
		- classes = "#{event.category}" unless event.blank?
		.grid-item.mix.artist{class: classes, data: {position: artist.position, id: artist.id}}
			- path = artist_path(artist, locale: I18n.locale)
			= link_to path do
				= image_tag artist.profile_picture.url(:tile), width: 600, height: 270
				.info
					%h4.type= type unless type.blank?
					%h3.artist-name
						= artist.name
					.artists= event.title unless event.blank?
