%ul.grid-3-col
	- @artists.each do |artist|
		%li.mix.artist{data: {position: artist.id}}
			- path = artist_path(artist)
			= link_to path do
				.tile
					= image_tag artist.profile_picture.url(:tile), class: 'glitch'
					.info
						= artist.events.first.title
						%h3.artist-name= artist.name
						.location
							= schedule_for(artist.events.first)
							= artist.events.first.location.name
						-#%h3= artist.label
