.single-tile
	.tile
		= image_tag @artist.profile_picture.url(:large), class: 'glitch'
		.info.mf-row
			%h1.artist-name= @artist.name
			.artist-event
				Playing at:
				- event = @artist.events.first
				%h1.artist-event= event.title
				.location
					= link_to event.location.name, static_page_path(1)
					= schedule_for(event)
.artist-desc.mf-row
	.bio
		= @artist.biography
	%ul.links
		%li= link_to 'link 1', artists_path
		%li= link_to 'link 2', artists_path
		%li= link_to 'link 2', artists_path
%div.back_to_all= link_to 'Back to all artists', artists_path
