- content_for(:og_title, "#{@artist.name}")
- content_for(:image, @artist.profile_picture.url)
- content_for(:description, remove_tags(@artist.biography))
.row.show-xs
	.col-xs-5.mf-breadcrumb
		= link_to "#{t('shared.all')} #{t('nav.artists')}", artists_path(locale: I18n.locale)
		.inner-nav
			= link_to('', artist_path(@artist.previous, locale: I18n.locale), class: 'prev') if !@artist.previous.nil?
			= link_to('', artist_path(@artist.next, locale: I18n.locale), class: 'next') if !@artist.next.nil?
.admin-entry
	- if user_signed_in?
		= link_to 'edit', "/admin/artist/#{@artist.id}/edit", data: {turbolinks: "false"}
- if !@artist.events.empty?
	.show-header.related
		- @artist.events.public.each do |event|
			= link_to  path_for(event, locale: I18n.locale), class: 'artist-event', data: {'load-more' => path_for(event, locale: I18n.locale)} do
				%h5.artist-event-name= event.title
				%h6.artist-event-type.sup= event.category
		%span#back.nav.back{:style => "cursor: pointer;"} [back]
#main-content
	.mf-breadcrumb.pull-right.hidden-xs
		.inner-nav
			= link_to('', artist_path(@artist.previous, locale: I18n.locale), class: 'prev') if !@artist.previous.nil?
			= link_to('', artist_path(@artist.next, locale: I18n.locale), class: 'next') if !@artist.next.nil?
	.show-header
		.single-artist.page-title
			%h1.artist-name= @artist.name
			%h4.labels.sup= @artist.label
			%h4.origin.sup= @artist.origin
	- if !@links.empty?
		%ul.links
			- @links.each do |l|
				%li= link_to l.text_to_show, l.url, target: "_blank"
	.show-desc
		= interpolate(@artist.biography, image: @artist.profile_picture.url(:large)).html_safe unless @artist.biography.blank?
.load-more-container
