%h1= @artist.name
= image_tag @artist.profile_picture.url(:large)

%h3 Playing at:
%ul
- @bookings.each do |b|
	%li
		.date= b.event.schedule_start.strftime("%A %e %b")
		%h5= link_to b.event.title, event_path(b.event)
= link_to 'Back to all artists', artists_path
