%ul.events
	- unless @news.empty?
		%li.full-width
			= link_to artists_path do
				%h2.section-title= link_to t('nav.news'), news_index_path
				.glitchousel.news
					- @news.each do |news|
						= link_to news_path(news) do
							.event.slide
								= image_tag(news.header_image.url(:large), width: 1200, height: 535)
								.legend
									= news.title
	- unless @exhibitions.empty?
		%li
			= link_to exhibitions_path do
				%h2.section-title= link_to t('nav.exhibitions'), exhibitions_path
				.glitchousel
					- @exhibitions.each do |event|
						= link_to exhibition_path(event) do
							.event.slide
								= image_tag(event.main_image.url(:tile), width: 600, height: 270)
								.legend
									.title= event.title

	- unless @workshops.empty?
		%li
			= link_to workshops_path do
				%h2.section-title= link_to t('nav.workshops'), workshops_path
				.glitchousel
					- @workshops.each do |event|
						= link_to workshop_path(event) do
							.event.slide
								= image_tag(event.main_image.url(:tile), width: 600, height: 270)
								.legend
									.title= event.title

	- unless @events.empty?
		%li
			%h2.section-title= link_to t('nav.events'), single_events_path
			.glitchousel
				- @events.each do |event|
					= link_to single_event_path(event) do
						.event.slide
							= image_tag(event.main_image.url(:tile), width: 600, height: 270)
							.legend
								.title= event.title
