%ul.events
	%li
		= link_to exhibitions_path do
			= image_tag @exhibition.main_image.url
			%h2.section-title Exhibitions
	%li
		= link_to workshops_path do
			= image_tag @workshop.main_image.url
			%h2.section-title Workshops
	%li
		= link_to artists_path do
			= image_tag @artist.profile_picture.url
			%h2.section-title Artists
	%li
		= link_to events_path do
			= image_tag @event.main_image.url
			%h2.section-title Events