%ul.events
	%li
		= link_to exhibitions_path do
			%h2.section-title= t("nav.exhibitions")
			= image_tag @exhibition.main_image.url(:tile), class: "glitch"
			
	%li
		= link_to workshops_path do
			%h2.section-title=  t('nav.workshops')
			= image_tag @workshop.main_image.url(:tile), class: "glitch"
			
	%li
		= link_to news_index_path do
			%h2.section-title= t('nav.news')
			//= image_tag @news.header_image.url(:tile), class: "glitch"
			
	%li
		= link_to events_path do
			%h2.section-title=  t('nav.events')
			= image_tag @event.main_image.url(:tile), class: "glitch"
			