%ul.events
	- unless @exhibitions.empty?
		%li
			= link_to exhibitions_path do
				%h2.section-title= link_to t('nav.exhibitions'), exhibitions_path
				.glitchousel
					- @exhibitions.each do |event|
						= link_to exhibition_path(event) do 
							.event.slide
								= image_tag(event.main_image.url(:tile))
								.legend
									.title= event.title
									.details #{l(event.schedule_start, format: "%A %e %B")} / #{event.location.name}
			
	- unless @workshops.empty?
		%li
			= link_to workshops_path do
				%h2.section-title= link_to t('nav.workshops'), workshops_path
				.glitchousel
					- @workshops.each do |event|
						= link_to workshop_path(event) do 
							.event.slide
								= image_tag(event.main_image.url(:tile))
								.legend
									.title= event.title
									.details #{l(event.schedule_start, format: "%A %e %B")} / #{event.location.name}
	- unless @news.empty?
		%li
			= link_to artists_path do
				%h2.section-title= link_to t('nav.news'), news_index_path
				.glitchousel
					- @news.each do |news|
						= link_to news_path(news) do 
							.event.slide
								= image_tag(news.header_image.url(:tile))
								.legend
									= news.title
				
	- unless @events.empty?
		%li
			%h2.section-title= link_to t('nav.events'), single_events_path
			.glitchousel
				- @events.each do |event|
					= link_to single_event_path(event) do 
						.event.slide
							= image_tag(event.main_image.url(:tile))
							.legend
								.title= event.title
								.details #{l(event.schedule_start, format: "%A %e %B")} / #{event.location.name}