= link_to artist_path(artist, locale: I18n.locale), class: "artist" do
  %h5.artist-name= "#{artist.name}"
  %h6.labels= "(#{[artist.label, artist.origin].compact.join(' / ')})" unless artist.label.blank? && artist.origin.blank?
