.grid
	.grid-item.grid-sizer
	- events.each do |event|
		- classes = [event.featured? ? "grid-item--width2" : nil]
		- classes.push(event.location.try(:slug))
		- classes.push(event.category)
		.grid-item{class: classes.join(' '), data: {position: event.position, id: event.id}}
			- artists = event.artists
			= image_tag event.main_image.url(event.featured? ? :large : :tile)
			= link_to path_for(event), class: 'tile-link' do
				.info
					- if @category != :exhibition
						- if !event.category.blank?
							%h5.type= t("events.categories.#{event.category}")
					.event-title
						%h3= event.title
					.artists
						- artists.each do |a|
							%h4.artist-name= a.name
					.location
						- if date_ = event.event_dates.first
							- if date_.end.nil?
								#{l(date_.start, format: "%e %B")} &mdash; #{event.location.try(:name)}
							- else
								#{l(date_.start, format: "%e %B")} - #{l(date_.end, format: "%e %B")} &mdash; #{event.location.try(:name)}
