- event_dates.each do |event_date|
  - event = event_date.event
  - if event.published? || user_signed_in?
    - artists = event.artists
    - format_for_js = "%Y-%m-%d %H:%M"
    = link_to(path_for(event, locale: I18n.locale), class:'post active', |
      data: { |
        id: event_date.id, |
        artists: artists.map(&:slug).join('|'), |
        "date-start" => event_date.start.strftime(format_for_js), |
        "date-end" => event_date.end.strftime(format_for_js), |
        section: event.section, |
        venue: event.location.try(:name), |
      }) do
      .tile-link
        .info
          .event-date= event_date.start.strftime('%H:%M')
          .event-type= event.section
          %h3.event-artists= artists.first.try(:name)
          .event-name= event.title
