- day = nil
- format_for_js = "%Y/%m/%d %H:%M"
- event_dates.each do |event_date|
  - if day != event_date.start.to_date
    - day = event_date.start.to_date
    .day{"data-date" => day.strftime(date_format_for_machine)}
      %span= l(day, format: "%A %e %B")
  - event = event_date.event
  - if event.published? || user_signed_in? || cookies[:beta].present?
    - artists = event.artists.order(:position)
    .post.stagger.active.in.event{ data: { |
      id: event.id, |
      artists: artists.map(&:slug).join('|'), |
      "date-start" => event_date.start.strftime(format_for_js), |
      "date-end" => event_date.end.strftime(format_for_js), |
      section: event.section, |
      venue: event.location.try(:name), |
      "event-id": event.id, |
      image: event.main_image.url(:tile), |
    }}
      - _switch = event.artists_as_title?
      - large = _switch ? artists.map(&:name).join(', ') : event.title
      - small = !_switch ? artists.map(&:name).join(', ') : event.title
      = link_to(path_for(event, locale: I18n.locale)) do
        .tile-link
          .info
            .event-date= event_date.start.strftime('%H:%M')
            .event-type= event.sub_section
            .favourite-trigger
            %h3.event-artists= large
            .event-name= small
