#filters
	%select#date-filter{"data-placeholder" => "date"}
		%option{:value => "empty"}
		- @dates.each do |d|
			%option{:value => d.strftime("%d-%m-%y")}= l(d, format: "%A %e")
	%div#date-sort.sort.sort-asc
	.cat-filters
		- Event.category_enum.each do |cat|
			%input.cat-filter{:type => "checkbox", value: cat, id: "category-#{cat}", checked: true} 
				%label{:for => "category-#{cat}"}= t("events.categories.#{cat}")
%ul#single-events-list.events-list.sortable-list
	- @events.each do |event|
		%li.mix.event{class: "#{event.category} #{event.schedule_start.strftime('%d-%m-%y')} #{event.schedule_end.strftime('%d-%m-%y') unless event.schedule_end.blank?} ", data: {position: event.id, date: event.schedule_start.strftime("%d-%m-%y")}}
			= link_to single_event_path(event, locale: I18n.locale) do 
				.tile
					= image_tag event.main_image.url(:tile), width: 600, height: 270, class: 'glitch'
					.info
						%h2.type
							= event.category
						%h2.event-title= event.title
						.location
							- if event.schedule_end.nil?
								#{l(event.schedule_start, format: "%A %e %B")} &mdash; #{event.location.name}
							- else
								#{l(event.schedule_start, format: "%e")} - #{l(event.schedule_end, format: "%e %B")} &mdash; #{event.location.name}
