.grid
	- @events.each do |event|
		.grid-item{data: {position: event.position, id: event.id}}
			- artists = event.artists
			= link_to path_for(event) do
				= image_tag event.main_image.url(:tile), width: 600, height: 270
				.info
					- if !event.category.blank?
						%h3.type
							= t("events.categories.#{event.category}")
					%h4.event-title= event.title
					- artists.each do |a|
						.artist-name= a.name
					.location
						#{l(event.event_dates.first.start, format: "%e")} - #{l(event.event_dates.first.end, format: "%e %B")} &mdash; #{event.location.name}
