#filters
	%select#date-filter{"data-placeholder" => "date"}
		%option{:value => "empty"}
		- @dates.each do |d|
			%option{:value => d.strftime("%d-%m-%y")}= l(d, format: "%A %e")
	%div#date-sort.sort.sort-desc
	.cat-filters
		- Event.category_enum.each do |cat|
			- if ![:exhibition, :installation].include?(cat)
				%input.cat-filter{:type => "checkbox", value: cat, id: "category-#{cat}", checked: true}
					%label{:for => "category-#{cat}"}= t("events.categories.#{cat}")
.grid#single-events-list.events-list.sortable-list.sortable{data: {url: 'admin/events/sort'}}
	- @events.each do |event|
		- date = event.event_dates.first
		.grid-item.event{class: "#{event.category} #{date.start.strftime('%d-%m-%y')} #{date.end.strftime('%d-%m-%y') unless date.end.blank?} ", data: {position: event.position, id: event.id, date: date.start.strftime("%d-%m-%y")}}
			= link_to single_event_path(event, locale: I18n.locale) do
				.tile
					= image_tag event.main_image.url(:tile), width: 600, height: 270, class: 'glitch'
					.info
						%h2.type
							= event.category
						%h2.event-title= event.title
						.artists= event.artists.map(&:name).join(', ')
						.location
							- if date.end.nil?
								#{l(date.start, format: "%A %e %B")} &mdash; #{event.location.name}
							- else
								#{l(date.start, format: "%e")} - #{l(date.end, format: "%e %B")} &mdash; #{event.location.name}
