= render 'layouts/filters'
.grid#single-events-list.events-list.sortable-list.sortable{data: {url: 'admin/events/sort'}}
	.grid-sizer.grid-item
	- @events.each do |event|
		- dates_as_string = event.event_dates.map{|date| date.start.strftime('%d-%m-%y')}.join(' ')
		- classes = [dates_as_string, event.category]
		- classes.push("grid-item--width2") if event.featured?
		.grid-item.event{class: classes.join(' '), data: {position: event.position, id: event.id}}
			= image_tag event.main_image.url(event.featured? ? :large : :tile)
			= link_to single_event_path(event, locale: I18n.locale), class: 'tile-link' do
				.info
					%h2.type
						= event.category
					%h2.event-title= event.title
					.artists= event.artists.map(&:name).join(', ')
					.location
						- event.event_dates.each do |date|
							- if date.end.nil?
								#{l(date.start, format: "%A %e %B")} &mdash; #{event.location.name}
							- else
								#{l(date.start, format: "%e")} - #{l(date.end, format: "%e %B")} &mdash; #{event.location.name}
