- content_for(:og_title, "#{@section.to_s.titleize.pluralize}")
- content_for(:image, image_url('lines_2.png'))
- content_for(:description, "Send in your application before the 1st of April, and participate in one of our 6 exciting workshops, given by world-class artists!")
.page-title
	%h1.index-title= t("events.types.#{@section}").pluralize.html_safe
= render 'layouts/filters'
= render 'event_grid', events: @events
