- content_for(:og_title, "Program")
- content_for(:image, image_url('lines_3.png'))
- content_for(:description, "Everything you need to know, day by day")
- date_format_for_machine = "%-d-%-m"
- content_for :nav do
	.filters
		.filters-by
			.filter-title.active{ data: { type: 'event', key: 'section', value: 'reset'} } Events By Type
			%ul.filter-list.section
				- @sections.each do |sec|
					%li.section{ data: { type: 'event', key: 'section', value: sec}}= sec
		.filters-by
			.filter-title{ data: { type: 'event', key: 'date', value: 'reset'} } Events By Day
			%ul.filter-list.date.collapsed
				- @days.each do |day|
					- in_s = day.strftime(date_format)
					%li.day{ data: { type: 'event', key: 'date', value:day.strftime(date_format_for_machine)}}= in_s
		.filters-by
			.filter-title{ data: { type: 'event', key: 'venue', value: 'reset'} } Events By Venue
			%ul.filter-list.venue.collapsed
				- @venues.each do |venue|
					%li.venue{ data: { type: 'event', key: 'venue', value: venue.name}}= venue.name
		.filters-by
			.filter-title{ data: { type: 'artist', key: 'artists', value: 'reset'} } Artists
			%ul.filter-list.artists.collapsed
				- @artists_by_letter.keys.each do |letter|
					%li.letter{ data: { type: 'artist',  key: 'letter', value: letter} }= letter
- content_for :thumbnails do
	%ul.thumbnails
		- @events.each do |ev|
			%li{data: { "event-id" => ev.id }}
				%img{'data-lazy-load' => ev.main_image.url(:tile)}
		- @artists.each do |art|
			%li{data: { "artist-id" => art.id }}
				%img{'data-lazy-load' => art.profile_picture.url(:tile)}

#program.in{data: { "date-start" => @event_dates.first.start.strftime("%Y-%m-%d %H:%M") } }
	.legend
		%ul.date
			- @days.each do |day|
				- in_s = day.strftime("%d.%m")
				%li.day{ data: { date:day.strftime(date_format_for_machine) }}= in_s
		- @artists_by_letter.each do |key, artists|
			.letter{ data: { letter: key } }
				= key
	.events
		= render 'events/timeline.html.haml', event_dates: @event_dates
		- last_key = @artists_by_letter.keys.first
		- @artists_by_letter.each do |key, artists|
			- artists.each do |artist|
				- if last_key != key
					.line-break
				= link_to "#", class: 'post out artist', id: "artist-#{artist.id}", data: { letter: artist.name[0].upcase, "artist-id": artist.id } do
					%h3.event-artist= artist.name
				- last_key = key
