- content_for(:og_title, "Program")
- content_for(:image, image_url('lines_3.png'))
- content_for(:description, "Everything you need to know, day by day")
.page-title
	%h1.index-title= t('nav.program')
= render 'layouts/filters'
- date_format = "%m-%d-%y"
.row#program
	.col-sm-1.dates#date-dropdown-trigger
		%label.dropdown.butt{for: 'dates'} Date
	%ul.col-xs-5.col-sm-1.dates-list
		%input#dates{type: :checkbox, name: 'dates'}
		- @days.each do |day, event_dates|
			- in_s = day.strftime(date_format)
			%li.day{data: {date:in_s}, class: in_s}
				%h2.location-link= l(day, format: "<span class='show-sm hidden-md hidden-lg'>%a</span><span class='hidden-sm hidden-xs'>%A</span> %e %B").html_safe
	.col-xs-5.col-sm-4.program-events-grid
		- @days.each do |day, event_dates|
			- in_s = day.strftime(date_format)
			.day.show-xs{data: {date:in_s}, class: in_s}
				%h2.location-link= l(day, format: "%A %e %B")
			.grid.events-list{id: "events-for-#{in_s}"}
				.grid-sizer.grid-item
				- passed_event_ids = []
				- event_dates.map(&:dateable).each do |event, i|
					- if event.published? || user_signed_in?
						- if !passed_event_ids.include? event.id
							- passed_event_ids.push event.id
							- classes = [event.featured? ? "grid-item--width2" : nil]
							- classes.push(event.location.try(:slug))
							- classes.push(event.category)
							- classes.push(day.strftime(date_format))
							.grid-item.not-scroll-revealable{class: classes.join(' '), data: {position: event.position, id: event.id, img: event.main_image.url(event.featured? ? :large : :tile)}, style: "background-image:url(#{event.main_image.url(event.featured? ? :large_blurred : :tile_blurred)})"}
								- artists = event.artists
								= link_to path_for(event) do
									= image_tag event.main_image.url(event.featured? ? :large_blurred : :tile_blurred), class: 'image'
									.tile-link
										.info
											- if @category != :exhibition
												- if !event.category.blank?
													%h5.type= t("events.categories.#{event.category}")
											.event-title
												%h3= event.title
											.artists
												- artists.each do |a|
													%h4.artist-name= a.name
