- content_for(:og_title, @event.title)
- content_for(:image, @event.main_image.url)
- content_for(:description, @event.description)
.show-header
  .single-event-info
    - @dates.each do |date|

      = "#{l(date.start, format: "%A %e %b – %H:%M")} - #{l(date.end, format: "%A %e %b – %H:%M")}"
    .location= link_to @location.name, "/#{I18n.locale}/infos"
.tile
  .img-container
    = image_tag @event.main_image.url(:large), width: 1200, height: 535, class: 'glitch'
  .info
    .event-name
      %h1.title= @event.title
    - display_logos = @event.category == 'clubbing'
    .event-musicians.event-artists
      - @musicians.each do |mu|
        = link_to artist_path(mu, locale: I18n.locale), class: "artist #{display_logos ? 'artist-with-logo' : nil}" do
          = fa_icon('bullseye') if display_logos
          %h1.artist-name= "#{mu.name}"
          %h3.labels= "(#{[mu.label, mu.origin].compact.join(' / ')})" unless mu.label.blank? && mu.label.blank?
    .event-vjs.event-artists
      - @vjs.each do |mu|
        = link_to artist_path(mu, locale: I18n.locale), class: "artist #{display_logos ? 'artist-with-logo' : nil}" do
          = fa_icon('connectdevelop') if display_logos
          %h1.artist-name= "#{mu.name}"
          %h3.labels= "(#{[mu.label, mu.origin].compact.join(' / ')})" unless mu.label.blank? && mu.label.blank?
- if !@links.empty?
  %ul.links
    - @links.each do |link|
      %li= print_link link
.event-desc.mf-row

  .bio
    = @event.description.html_safe unless @event.description.blank?
  .sidebar
    - if(!@event.finished?)
      = link_to t('events.ticket'), @event.buy_link, class: "btn btn-md buy-link fa fa-shopping-cart", target: "_blank" unless @event.buy_link.blank?
    - if !@assets.empty?
      = link_to 'images', @event.main_image.url(:large), "rel" => @event.slug, class: "btn btn-md buy-link fa fa-picture-o colorbox trigger"
    .sidebar-inner
      .gallery
        - @assets.each do |asset|
          = asset_colorbox(asset, @event.slug)
- if user_signed_in?
  = link_to 'edit', "/admin/event/#{@event.id}/edit"
