.show-header
	= image_tag @event.main_image.url(:large), class: 'glitch'
	.info
		.info-left-col
			.type
				= t("events.types.#{@event.type}")
			%h1.title= @event.title
		.location.info-right-col
			- if @type == 'exhibition'
				#{l(@event.schedule_start, format: "%A %e")} - #{l(@event.schedule_end, format: "%A %e %B")}
			- elsif @type == 'workshop'
				#{l(@event.schedule_start, format: '%A %e')} - #{l(@event.schedule_end, format: '%A %e %B')},  #{l(@event.schedule_start, format: '%H:%M')}-#{l(@event.schedule_end, format: '%H:%M')}
			- elsif @type == 'single_event'
				#{l(@event.schedule_start, format: "%A %e %B")} / #{l(@event.schedule_start, format: "%H:%M")}
			%br/
			= @location.name
- if !@links.empty?
	.links
		- @links.each do |l|
			= print_link(l)
.prev-next-navigation
	.prev
		- if previous_event = @event.previous
			= link_to t('nav.previous'), event_path(previous_event, locale: I18n.locale)
	.next
		- if next_event = @event.next
			= link_to t('nav.next'), event_path(next_event, locale: I18n.locale)
.event-musicians.event-artists
	- @musicians.each do |mu|
		#{mu.name} (#{mu.label} / #{mu.origin})
.event-vjs.event-artists
	- @vjs.each do |mu|
		= "#{mu.name} (#{mu.label} / #{mu.origin})"
.event-desc
	= @event.description.html_safe
	.sidebar
		= mf_auto_html(@event.sidebar_media)
- if user_signed_in?
	= link_to 'edit', "/admin/event/#{@event.id}/edit"