.tile
	= image_tag @event.main_image.url(:large), class: 'glitch'
	.info
		.type
			= @event.type
		%h1= @event.title
		.location
			= schedule_for(@event)
			= @location.name
			= @location.address.html_safe
.links
	- @links.each do |l|
		= print_link(l)
.prev-next-navigation
	- if previous_event = @event.previous
		.prev= link_to 'previous', event_path(previous_event)
	- if next_event = @event.next
		.next= link_to 'next', event_path(next_event)
= @event.description.html_safe
