- content_for(:og_title, @event.title)
- content_for(:image, @event.main_image.url)
- content_for(:description, @event.description)
.show-header
  .event-artists
    .event-musicians
      - @musicians.each do |mu|
        = link_to artist_path(mu, locale: I18n.locale), class: "artist #{display_logos ? 'artist-with-logo' : nil}" do
          = fa_icon('bullseye') if display_logos
          %h2.artist-name= "#{mu.name}"
          %h3.labels= "(#{[mu.label, mu.origin].compact.join(' / ')})" unless mu.label.blank? && mu.label.blank?
    .event-vjs
      - @vjs.each do |mu|
        = link_to artist_path(mu, locale: I18n.locale), class: "artist #{display_logos ? 'artist-with-logo' : nil}" do
          = fa_icon('connectdevelop') if display_logos
          %h2.artist-name= "#{mu.name}"
          %h3.labels= "(#{[mu.label, mu.origin].compact.join(' / ')})" unless mu.label.blank? && mu.label.blank?
  %h1.event-name= @event.title
  .event-infos
    %h5
      - @dates.each do |date|
        = "#{l(date.start, format: "%A %e %b – %H:%M")} - #{l(date.end, format: "%A %e %b – %H:%M")}"
    %h5.location= link_to @location.name, "/#{I18n.locale}/infos"

  %h5 Modalités
.show-desc= @event.description.html_safe unless @event.description.blank?
