%h1= @event.title
= @event.description.html_safe
.schedule
	%p 
		#{@event.schedule_start.strftime(long_date)}
		- if @event.schedule_end
			= "&nbsp;- #{@event.schedule_end.strftime(long_date)}".html_safe
- if !@artists.empty?
	%h2 Artists
	%ul
		- @artists.each do |artist|
			%li
				%h2
					= artist.name
				= image_tag artist.profile_picture.url(:large)
%h2 Location
.location
	= @location.name