.show-header
	.single-event-info
		.date= schedule_for(@event)
		.location= @location.name
	.tile
		= image_tag @event.main_image.url(:large), class: 'glitch'
		.info
			.event-name
				%h1.title= @event.title
			.event-musicians.event-artists
				- @musicians.each do |mu|
					= "#{mu.name} (#{mu.label} / #{mu.origin})"
			.event-vjs.event-artists
				- @vjs.each do |mu|
					= "#{mu.name} (#{mu.label} / #{mu.origin})"
.links
	- @links.each do |l|
		= print_link(l)
.prev-next-navigation
	.prev
		- if previous_event = @event.previous
			= link_to t('nav.previous'), event_path(previous_event, locale: I18n.locale)
	.next
		- if next_event = @event.next
			= link_to t('nav.next'), event_path(next_event, locale: I18n.locale)
.event-desc.mf-row
	.bio
		= @event.description.html_safe
	.sidebar
		- if !@links.empty?
			%ul.links
				- @links.each do |l|
					= link_to l.text_to_show, l.url, target: "_blank"
		= mf_auto_html(@event.sidebar_media)
