- content_for(:og_title, @event.title)
- content_for(:image, @event.main_image.url)
- content_for(:description, @event.description)
.admin-entry
  - if user_signed_in?
    = link_to 'edit', "/admin/event/#{@event.id}/edit"
.show-header
  .event-artists
    .event-musicians
      - @musicians.each do |mu|
        = link_to artist_path(mu, locale: I18n.locale), class: "artist" do
          %h2.artist-name= "#{mu.name}"
          %h3.labels= "(#{[mu.label, mu.origin].compact.join(' / ')})" unless mu.label.blank? && mu.label.blank?
    .event-vjs
      - @vjs.each do |vj|
        = link_to artist_path(vj, locale: I18n.locale), class: "artist}" do
          %h2.artist-name= "#{vj.name}"
          %h3.labels= "(#{[vj.label, vj.origin].compact.join(' / ')})" unless vj.label.blank? && vj.label.blank?
    .event-instructors
      - @instructors.each do |instructor|
        = link_to artist_path(instructor, locale: I18n.locale), class: "artist}" do
          %h2.artist-name= "#{instructor.name}"
          %h3.labels= "(#{[instructor.label, instructor.origin].compact.join(' / ')})" unless instructor.label.blank? && instructor.label.blank?
  %h1.event-name= @event.title
  .event-infos
    - @dates.each do |date|
      %h5.day= "#{l(date.start, format: "%A %e %b")} - #{l(date.end, format: "%A %e %b")}"
      %h5.time= "#{l(date.start, format: "%H:%M")} - #{l(date.end, format: "%H:%M")}"
    %h5.location= link_to @location.name, "/#{I18n.locale}/infos"
    - if(@event.finished?)
      %h5= link_to t('events.ticket'), @event.buy_link, class: "btn btn-md buy-link fa fa-shopping-cart", target: "_blank" unless @event.buy_link.blank?
.show-desc= @event.description.html_safe unless @event.description.blank?
- unless @event.extra_infos.empty?
  %table.extra-infos
    -@event.extra_infos.each do |extra|
      %ul
        %li
          .left= extra.title
        %li
          .right=extra.body
- unless @event.artists.empty?
  %ul.artist-list
    - @event.artists.each do |artist|
      %ul
        %li
          .left
            .event-artist-name=artist.name
            .event-artist-origin=artist.origin
            .event-artist-label=artist.label
          .right
            .event-artist-bio=artist.biography.html_safe
