- content_for(:og_title, t("nav.about"))
%h1.event-name= t("nav.about")
.static-desc
	= @text.try(:html_safe) || 'Coming soon...'
.previous-title
	%h1= t("nav.previous_title")
.previous-editions.grid#previous
	.grid-item.grid-sizer
	- @previous_editions.each do |prev|
		.grid-item
			= link_to prev.url, target: '_blank' do
				= image_tag prev.thumbnail(:tile)
