- cache([@screenshots.first.id, @screenshots.first.updated_at].join('--') ) do
  .grid-sizer.grid-item.not-scroll-revealable
  - @screenshots.each_with_index do |sc, i|
    - if i == 4
      .grid-item.stay{data: {country: 'neverland', city: 'the-pirate-boat'}}
        .explanation
          This is a collection of screenshots submitted automatically from around the world. Every pattern is generated on the spot on every visit.
          %br
          %br
          Try me:
        %canvas#canvas{style: "width: 100%; height: 8rem;"}
    - cache(sc.updated_at) do
      .screenshot.grid-item.not-scroll-revealable{data:{id: sc.id, country: sc.country_name, city: sc.city}}
        = image_tag sc.screenshot.url
        .info
          .artists
            %h4.artist-name
              screenshot
              %span.name
              from:
              %br
              %span.location= " #{sc.location}"
            - t_ = distance_of_time_in_words_to_now sc.created_at
            %h4.artist-name
              - if I18n.locale == :en
                = t_ + ' ago'
              - else
                = 'il y a ' + t_

- content_for :screenshot_ui do
  #sc-filters
    %div
      %input.filter#country{type: 'checkbox', data: {filter: 'country'}}
      %label{for: 'country'} distinct countries
    %div
      %input.filter#city{type: 'checkbox', data: {filter: 'city'}}
      %label{for: 'city'} distinct cities
    %div
      .yours Go to your screenshot
  %table#logs
    - (0..4).each do |i|
      - sc = @screenshots[i]
      %tr{data: {id: sc.id}}
        - if i == 0
          %td.screenshot-title{style: 'vertical-align: top;'}
            LATEST SUBMISSIONS:
        - else
          %td
        %td
          - name = "<span class='name'>#{sc.name.blank? ? nil : 'by ' + sc.name + ', '}</span>"
          = "#{distance_of_time_in_words_to_now(sc.updated_at)} ago, #{name}from #{sc.country_name.titleize}".html_safe
