.header-left
	=link_to root_path do
		#logo
			- %w{M A P P I N G}.each do |letter|
				%span.letter= letter
			%br
			- %w{F E S T I V A L}.each do |letter|
				%span.letter= letter
			%br
			- %w{* 2 0 1 6}.each do |letter|
				%span.letter= letter
	.motto
		= t("shared.motto").html_safe
		.festival-date
			#{l(Date.parse("28 april"), format: "%e %b")} – #{l(Date.parse("7 may"), format: "%e %b")} / 2016 / #{ t("shared.geneva")}
.header-right
	= render 'layouts/navigation'
	= yield :filters
