.drawer-container
	%ul.nav
		%li.gap-after= link_to t('nav.forum'), forum_path(locale: I18n.locale)
		%li.gap-after.program-gap
			= link_to t('nav.program'), program_path(locale: I18n.locale), data: { drawer: '#nav-program', "direct-link" => true }
		-# %li.gap-after.visible-xs= link_to 'PDF', image_path('program.pdf'), download: 'program.pdf', target: '_blank'
		%li.gap-after
			= link_to t('nav.venues'), venues_path(locale: I18n.locale), data: { drawer: '#nav-venues' , "direct-link" => true }
		- if @exhib
			%li.gap-after
				= link_to t('nav.exhibition'), event_path(@exhib, locale: I18n.locale), data: { drawer: '#nav-exhib' }
		-# - if @settings.tickets
		-# 	%li= link_to t('nav.tickets'), tickets_path(locale: I18n.locale)
		-# - if @settings.volunteers
		-# 	%li= link_to t('nav.volunteers'), volunteers_path(locale: I18n.locale)
		%li= link_to t('nav.about'), about_path(locale: I18n.locale)
		%li= link_to t('nav.archives'), about_path(anchor: 'archives', locale: I18n.locale)
		%li= link_to t('nav.partners'), partners_path(locale: I18n.locale)
		%li= link_to t('nav.contact'), 'mailto:nous@mappingfestival.com'
		%li= render 'layouts/newsletter_button'
		%li.visible-xs.gap-before{"data-turbolinks" => "false"}
			- if I18n.locale == :fr
				.locale
					#{link_to("EN", url_for(locale: :en), class: "en", "data-lang" => :en)}
			- else
				.locale
					#{link_to("FR", url_for(locale: :fr), class: "fr", "data-lang" => :fr)}
	- if @exhib
		.drawer#nav-exhib
			.back
				%span.rotate-mobile <
				Menu
			%p= @exhib.short_description.try(:html_safe)
			.more-info= link_to t('shared.more_info'), event_path(@exhib, locale: I18n.locale)
	.drawer#nav-program
		.back
			%span.rotate-mobile < 
			Menu
		= render 'layouts/filters'
	.drawer#nav-venues
		.back
			%span.rotate-mobile < 
			Menu
		.location-list{'data-turbolinks' => 'false'}
			- @locations.each do |loc|
				= link_to loc.name,	"##{loc.slug}", class: 'location-link', data: { title: loc.slug}