%ul.desktop-nav
	%li.nav-link= active_link_to t("nav.program"), program_path(locale: I18n.locale)
	%li.nav-link= active_link_to t("nav.artists"), artists_path(locale: I18n.locale)
	%li.nav-link= active_link_to t("nav.exhibitions_menu"), exhibitions_path(locale: I18n.locale)
	%li.nav-link= active_link_to t("nav.venues"), venues_path(locale: I18n.locale)
	%li.nav-link= active_link_to t("nav.workshops"), workshops_path(locale: I18n.locale)
	%li.tickets.nav-link
		= link_to t('nav.tickets'), tickets_path(locale: I18n.locale)
%ul.social
	%li.nav-link
		= link_to("http://www.instagram.com/mappingfestival", target: '_blank') do
			%span instagram
			.fa.fa-icon.fa-instagram
	%li.nav-link
		= link_to("http://www.twitter.com/mappingfestival", target: '_blank') do
			%span	twitter
			.fa.fa-icon.fa-twitter
	%li.nav-link
		= link_to("https://www.facebook.com/pages/Mapping-Festival/162958139889", target: '_blank') do
			%span facebook
			.fa.fa-icon.fa-facebook
%ul.locales
	- if I18n.locale == :fr
		%li.locale
			#{link_to("EN", url_for(locale: :en), class: "en nav-link")}
			%span.current-locale= "/ FR"
	- else
		%li.locale
			%span.current-locale EN
			= "/"
			#{link_to("FR", url_for(locale: :fr), class: "fr nav-link")}
	%li.nav-link= link_to t('nav.volunteers'), volunteers_path(locale: I18n.locale)
	%li.nav-link#newsletter
		- if I18n.locale == 'en'
			%form#mlb2-477433.newsletter-form{:action => "//app.mailerlite.fr/webforms/submit/r9a8o1", "data-code" => "r9a8o1", :target => "_blank"}
				%button.ml-subscribe-button{:type => "submit"}
					%span Newsletter
					.fa.fa-icon.fa-inbox
		- else
			%form#mlb2-448223.newsletter-form{:action => "//app.mailerlite.fr/webforms/submit/u2g5s5", "data-code" => "u2g5s5", :target => "_blank"}
				%button.ml-subscribe-button{:type => "submit"}
					%span Newsletter
					.fa.fa-icon.fa-inbox
