%ul.desktop-nav
	%li= active_link_to t("nav.events"), single_events_path(locale: I18n.locale)
	%li= active_link_to t("nav.artists"), artists_path(locale: I18n.locale)
	%li= active_link_to t("nav.exhibitions"), exhibitions_path(locale: I18n.locale)
	%li= active_link_to t("nav.venues"), venues_path(locale: I18n.locale)
	%li= active_link_to t("nav.workshops"), workshops_path(locale: I18n.locale)
	%li.tickets
		= link_to t('nav.tickets'), '#', class: 'nav-link'
%ul.social
	%li
		= link_to("http://www.instagram.com/mappingfestival", target: '_blank', class: 'nav-link') do
			instagram
	%li
		= link_to("http://www.twitter.com/mappingfestival", target: '_blank', class: 'nav-link') do
			twitter
	%li
		= link_to("http://www.facebook.com/mappingfestival", target: '_blank', class: 'nav-link') do
			facebook
%ul.locales
	- if I18n.locale == :fr
		FR
		%li= link_to("EN", url_for(locale: :en), class: "en nav-link")
	- else
		%li= link_to("FR", url_for(locale: :fr), class: "fr nav-link")
		EN
	%li.nav-link#newsletter
		- if I18n.locale == :en
			%form#mlb2-477433.newsletter-form{:action => "//app.mailerlite.fr/webforms/submit/r9a8o1", "data-code" => "r9a8o1", :target => "_blank"}
				%button.ml-subscribe-button{:type => "submit"}
					%span Newsletter
					.fa.fa-icon.fa-inbox
		- else
			%form#mlb2-448223.newsletter-form{:action => "//app.mailerlite.fr/webforms/submit/u2g5s5", "data-code" => "u2g5s5", :target => "_blank"}

				%button.ml-subscribe-button{:type => "submit"}
					%span Newsletter
					.fa.fa-icon.fa-inbox
