%nav
  .container
    %ul.nav.navbar-nav
      %li= active_link_to t("nav.events"), single_events_path(locale: I18n.locale)
      %li= active_link_to t("nav.exhibitions"), exhibitions_path(locale: I18n.locale)
      %li= active_link_to t("nav.workshops"), workshops_path(locale: I18n.locale)
      %li= active_link_to t("nav.artists"), artists_path(locale: I18n.locale)
      %li= active_link_to t("nav.venues"), venues_path(locale: I18n.locale)
