- if !user_signed_in? && Rails.env.prod?
	.drawer-container
		%ul.nav
			- if !@messages.empty?
				%li.gap-after
					%a{href: '#', "data-drawer" => '#nav-news'}= t('nav.news')

			%li= link_to t('nav.contact'), 'mailto:nous@mappingfestival.com'
			%li= link_to t('nav.about'), about_path(locale: I18n.locale)
			%li.gap-after= link_to t('nav.archives'), about_path(anchor: 'archives', locale: I18n.locale)
			%script{:src => "//app.mailerlite.fr/js/w/button.js", :type => "text/javascript", defer: true}
			%li= render 'layouts/locales'

			%li
				%footer
					%ul.social
						%li
							= link_to("http://www.instagram.com/mappingfestival", target: '_blank') do
								.fa.fa-icon.fa-instagram
						%li
							= link_to("http://www.twitter.com/mappingfestival", target: '_blank') do
								.fa.fa-icon.fa-twitter
						%li
							= link_to("https://www.facebook.com/pages/Mapping-Festival/162958139889", target: '_blank') do
								.fa.fa-icon.fa-facebook
					.address
						%b Mapping Festival
						%p Avenue Ernest-Pictet 28/30
						%p 1203 #{t('shared.geneva').titleize}
						%p #{t('shared.switzerland')}
		.drawer#nav-exhib
			.back <
			%p= @exhib.short_description.try(:html_safe)
			.more-info= link_to t('shared.more_info'), event_path(@exhib, locale: I18n.locale)
		.drawer#nav-news
			.back <
			%ul
				- @messages.each do |message|
					%li.message
						= message.message.html_safe
					=# link_to message.link, class: [message.colorbox? ? 'colorbox' : nil].join(' ') do

- else
	.drawer-container
		%ul.nav
			%li.gap-after
				= link_to t('nav.program'), program_path(locale: I18n.locale), data: { drawer: '#nav-program', "direct-link" => true }
			%li.gap-after
				= link_to t('nav.exhibition'), event_path(@exhib, locale: I18n.locale), data: { drawer: '#nav-exhib' }
			- if !@messages.empty?
				%li
					%a{href: '#', "data-drawer" => '#nav-news'}= t('nav.news')
			- if @settings.tickets
				%li= link_to t('nav.tickets'), tickets_path(locale: I18n.locale)
			- if @settings.volunteers
				%li= link_to t('nav.volunteers'), volunteers_path(locale: I18n.locale)
			%li.gap-before= link_to t('nav.contact'), 'mailto:nous@mappingfestival.com'
			%li= link_to t('nav.about'), about_path(locale: I18n.locale)
			%li.gap-after= link_to t('nav.archives'), about_path(anchor: 'archives', locale: I18n.locale)
			%script{:src => "//app.mailerlite.fr/js/w/button.js", :type => "text/javascript", defer: true}
			%li.gap-after= render 'layouts/locales'
			%li
				%footer
					%ul.social
						%li
							= link_to("http://www.instagram.com/mappingfestival", target: '_blank') do
								.fa.fa-icon.fa-instagram
						%li
							= link_to("http://www.twitter.com/mappingfestival", target: '_blank') do
								.fa.fa-icon.fa-twitter
						%li
							= link_to("https://www.facebook.com/pages/Mapping-Festival/162958139889", target: '_blank') do
								.fa.fa-icon.fa-facebook
					.address
						%b Mapping Festival
						%p Avenue Ernest-Pictet 28/30
						%p 1203 #{t('shared.geneva').titleize}
						%p #{t('shared.switzerland')}
			-# %li.gap-before= link_to t('nav.partners'), partners_path(locale: I18n.locale)

		.drawer#nav-exhib
			.back <
			%p= @exhib.short_description.try(:html_safe)
			.more-info= link_to t('shared.more_info'), event_path(@exhib, locale: I18n.locale)
		.drawer#nav-news
			.back <
			%ul
				- @messages.each do |message|
					%li.message
						= message.message.html_safe
					=# link_to message.link, class: [message.colorbox? ? 'colorbox' : nil].join(' ') do
		.drawer#nav-program
			.back <
			= render 'layouts/filters'
