%ul.desktop-nav
	%li= active_link_to t("nav.events"), single_events_path(locale: I18n.locale)
	%li= active_link_to t("nav.artists"), artists_path(locale: I18n.locale)
	%li= active_link_to t("nav.exhibitions"), exhibitions_path(locale: I18n.locale)
	%li= active_link_to t("nav.venues"), venues_path(locale: I18n.locale)
	%li= active_link_to t("nav.workshops"), workshops_path(locale: I18n.locale)
	%li.tickets
		= link_to 'tickets'
%ul.social
	%li= link_to("instagram", "http://www.instagram.com/mappingfestival")
	%li= link_to("twitter", "http://www.twitter.com/mappingfestival")
	%li= link_to("facebook", "http://www.facebook.com/mappingfestival")
%ul.locales
	- if I18n.locale == :fr
		FR
		%li= link_to("EN", url_for(locale: :en), class: "en")
	- else
		%li= link_to("FR", url_for(locale: :fr), class: "fr")
		EN
	%li
		- if I18n.locale == :en
			newsletter
			%form#mlb2-477433.newsletter-form{:action => "//app.mailerlite.fr/webforms/submit/r9a8o1", "data-code" => "r9a8o1", :target => "_blank"}
				%button.ml-subscribe-button.fa.fa-icon.fa-inbox{:type => "submit"}
		- else
			newsletter
			%form#mlb2-448223.newsletter-form{:action => "//app.mailerlite.fr/webforms/submit/u2g5s5", "data-code" => "u2g5s5", :target => "_blank"}
				%button.ml-subscribe-button.fa.fa-icon.fa-inbox{:type => "submit"}
