- if Rails.env.production? && !(user_signed_in? || cookies[:beta].present?)
	.drawer-container
		%ul.nav
			- if !@messages.empty?
				%li.gap-after
					%a{href: '#', "data-drawer" => '#nav-news'}= t('nav.news')

			%li= link_to t('nav.contact'), 'mailto:nous@mappingfestival.com'
			%li= link_to t('nav.about'), about_path(locale: I18n.locale)
			%li.gap-after= link_to t('nav.archives'), about_path(anchor: 'archives', locale: I18n.locale)
			%script{:src => "//app.mailerlite.fr/js/w/button.js", :type => "text/javascript", defer: true}
			%li= render 'layouts/locales'

			%li
				%footer
					%ul.social
						%li
							= link_to("http://www.instagram.com/mappingfestival", target: '_blank') do
								.fa.fa-icon.fa-instagram
						%li
							= link_to("http://www.twitter.com/mappingfestival", target: '_blank') do
								.fa.fa-icon.fa-twitter
						%li
							= link_to("https://www.facebook.com/pages/Mapping-Festival/162958139889", target: '_blank') do
								.fa.fa-icon.fa-facebook
					.address
						%b Mapping Festival
						%p Avenue Ernest-Pictet 28/30
						%p 1203 #{t('shared.geneva').titleize}
						%p #{t('shared.switzerland')}
		.drawer#nav-news
			.back <
			%ul
				- @messages.each do |message|
					%li.message
						= message.message.html_safe
					=# link_to message.link, class: [message.colorbox? ? 'colorbox' : nil].join(' ') do

- else
	.drawer-container
		%ul.nav
			%li.gap-after
				= link_to t('nav.program'), program_path(locale: I18n.locale), data: { drawer: '#nav-program', "direct-link" => true }
			- if @exhib
				%li.gap-after
					= link_to t('nav.exhibition'), event_path(@exhib, locale: I18n.locale), data: { drawer: '#nav-exhib' }
			- if !@messages.empty?
				%li
					%a{href: '#', "data-drawer" => '#nav-news'}= t('nav.news')
			- if @settings.tickets
				%li= link_to t('nav.tickets'), tickets_path(locale: I18n.locale)
			- if @settings.volunteers
				%li= link_to t('nav.volunteers'), volunteers_path(locale: I18n.locale)
			%li.gap-before= link_to t('nav.about'), about_path(locale: I18n.locale)
			%li= link_to t('nav.archives'), about_path(anchor: 'archives', locale: I18n.locale)
			%li= link_to t('nav.partners'), partners_path(locale: I18n.locale)
			%li= link_to t('nav.contact'), 'mailto:nous@mappingfestival.com'
			%li
				- if I18n.locale == :fr
					%form#mlb2-4334015{:action => "//app.mailerlite.com/webforms/popup/u3e4a4", "data-code" => "u3e4a4", "data-id" => "321815", :target => "_blank"}
						%button.ml-subscribe-button{:type => "submit"} Newsletter
				- else
					%form#mlb2-4334069{:action => "//app.mailerlite.com/webforms/popup/u7s6x1", "data-code" => "u7s6x1", "data-id" => "321825", :target => "_blank"}
						%button.ml-subscribe-button{:type => "submit"} Newsletter
			%script{:src => "//static.mailerlite.com/js/w/button.min.js?v246990c948af1d93353a970fddff05fc", :type => "text/javascript"}


			%li.gap-before= render 'layouts/locales'
			%li.gap-before
				%footer
					%ul.social
						%li
							= link_to("http://www.instagram.com/mappingfestival", target: '_blank') do
								.fa.fa-icon.fa-instagram
						%li
							= link_to("http://www.twitter.com/mappingfestival", target: '_blank') do
								.fa.fa-icon.fa-twitter
						%li
							= link_to("https://www.facebook.com/pages/Mapping-Festival/162958139889", target: '_blank') do
								.fa.fa-icon.fa-facebook
					.address
						%b Mapping Festival
						%p Avenue Ernest-Pictet 28/30
						%p 1203 #{t('shared.geneva').titleize}
						%p #{t('shared.switzerland')}
		- if @exhib
			.drawer#nav-exhib
				.back <
				%p= @exhib.short_description.try(:html_safe)
				.more-info= link_to t('shared.more_info'), event_path(@exhib, locale: I18n.locale)
		- if !@messages.empty?
			.drawer#nav-news
				.back <
				%ul
					- @messages.each do |message|
						%li.message
							= message.message.html_safe
						=# link_to message.link, class: [message.colorbox? ? 'colorbox' : nil].join(' ') do
		.drawer#nav-program
			.back <
			= render 'layouts/filters'
