!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title= @title || "Mapping Festival 2015"
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", media: "all", "adata-turbolinks-track" => true
    = javascript_include_tag "application", "adata-turbolinks-track" => true
    = csrf_meta_tags
  %body{class: "#{controller.controller_name}-page #{controller.action_name}-page #{yield(:body_class)} #{'debug' if Rails.env.development?}"}

    .body-header
      .container
        .festival-date
          7 – 17 #{l(Date.parse("7 may"), format: "%b")}
          %br/
          2015
          %br/
          = t("shared.geneva")
        .locales{class: I18n.locale}
          = link_to("FR", url_for(locale: :fr), class: "fr")
          = link_to("EN", url_for(locale: :en), class: "en")

        .header-logo
          = link_to(image_tag( 'logo.svg', class: "header-logo"), root_path)
        .motto
          = t("shared.motto").html_safe
    %header
      = render 'layouts/navigation'
    %main
      .container
        .row
          .col-sm-6.col-sm-offset-3.text-center
            = render 'layouts/messages'
        .row
          .col-sm-12
            = yield
    = render 'layouts/footer'