!!!
%html{lang: I18n.locale}
	%head
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
		%meta{property:"og:site_name", content:"Mapping Festival 2017"}
		- desc = strip_tags(CGI.unescapeHTML("#{content_for?(:description) ? yield(:description) : 'The Mapping Festival is also a meeting point, a creative and collaborative platform with innovative spirit. Over the course of ten editions the Mapping Festival has grown steadily and emerged as one the most important events of its kind in Europe.'}")).gsub('&nbsp;', ' ')
		%meta{:name => "description", content: desc}
		%meta{property:"og:description", content: desc}
		%meta{property:"og:image", content:"#{content_for?(:image) ? yield(:image) : image_url('back_1.png')}"}
		%meta{property:"og:url", content: "#{content_for?(:url) ? yield(:url) : request.original_url}"}
		%meta{property:"og:type", content:"#{content_for?(:type) ? yield(:type) : 'website'}"}
		- title = strip_tags(CGI.unescapeHTML("#{content_for?(:og_title) ? '11-28.5 2017 | Mapping Festival | ' + yield(:og_title): '11-28.5 2017 | Mapping Festival'}"))
		%meta{property:"og:title", content: title}
		%meta{name: "google-site-verification", content:"EiRhKI0cx8Sp3Xikv24icsWpBYEF4lG5LU8nFYaQhQ4"}

		%meta{name:"turbolinks-cache-control", content:"no-cache"}

		%link{rel: 'alternate', hreflang: 'fr', href: url_for(locale: :fr), title: content_for(:title)}
		%link{rel: 'alternate', hreflang: 'en', href: url_for(locale: :en), title: content_for(:title)}
		%title= title
		:css
			#background{
				background-image: url('#{@background}');
			}
		= favicon_link_tag 'favicon.png'
		%meta{name:'styles_day', content: stylesheet_path("application_day")}
		%meta{name:'styles_night', content: stylesheet_path("application_night")}
		%noscript
			= stylesheet_link_tag 'application_day', id: 'all-styles', "data-turbolinks-track" => "true"
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body{class: ["#{controller.controller_name}-page", "#{controller.action_name}-page", "#{'debug' if Rails.env.development?}", "#{current_user.nil? ? nil : 'admin'}", content_for(:body_class)].join(' '), style: 'display: none;'}
		:javascript
			(function(){
				var invert = false,
					styleDay = "#{stylesheet_path('application_day')}",
					styleNight = '#{stylesheet_path("application_night")}';
				const getStylesheetHref = function(invert){
					var now = new Date();
					var isNight = ((now.getHours() >= 20 && now.getMinutes >= 38) || now.getHours() > 21) || ((now.getHours() <= 6 && now.getMinutes() < 25) || now.getHours() < 6);
					if(invert){ isNight = !isNight };
					if(isNight){
						document.body.classList.remove('night');
					}
					else{
						document.body.classList.add('night');
					}
					return isNight ? styleNight : styleDay
				}
				var $link = document.createElement('link');
				$link.href = getStylesheetHref();
				$link.type = 'text/css'
				$link.rel = 'stylesheet'
				document.head.appendChild($link);

				document.addEventListener('keydown', function(e){
					if(!e.metaKey &&
						e.key != 'Control' &&
						e.key != 'Tab' &&
						e.key != 'Alt' &&
						e.key != 'Shift'){
						invert = !invert;
						$link.href = getStylesheetHref(invert);
					}
				});
			})();
		#background{"data-turbolinks-permanent" => true}
		%header#turbo-header{"data-turbolinks-permanent" => true}
			.logo
				= render 'layouts/logo'
				.xs-only= render 'layouts/social_links'
			=# render 'layouts/navigation'
			/ .hamburger
			/ 	.bars
		%nav#turbo-nav{"data-turbolinks-permanent" => true}
			= render 'layouts/nav_right'
		%main
			.firefox-only= yield :thumbnails
			= yield
		.webkit-only= yield :thumbnails
		- if Rails.env.prod? && !current_user.nil?
			:plain
				<script>
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

					ga('create', 'UA-27024782-20', 'auto');
					ga('send', 'pageview');

				</script>
