!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{property:"og:site_name", content:"Mapping Festival 2015"}
    - desc = strip_tags(CGI.unescapeHTML("#{content_for?(:description) ? yield(:description) : 'The Mapping Festival is also a meeting point, a creative and collaborative platform with innovative spirit. Over the course of ten editions the Mapping Festival has grown steadily and emerged as one the most important events of its kind in Europe.'}")).gsub('&nbsp;', ' ')
    %meta{:name => "description", content: desc}
    %meta{property:"og:description", content: desc}
    %meta{property:"og:image", content:"#{content_for?(:image) ? yield(:image) : image_url('logo.svg')}"}
    %meta{property:"og:url", content: "#{content_for?(:url) ? yield(:url) : request.original_url}"}
    %meta{property:"og:type", content:"#{content_for?(:type) ? yield(:type) : 'website'}"}
    %meta{property:"og:title", content:"#{content_for?(:og_title) ? yield(:og_title) : 'Mapping Festival 2015'}"}
    %title= content_for?(:title) ? "Mapping Festival 2015 | #{yield(:title)}" : 'Mapping Festival 2015'
    %link{:rel => "stylesheet", :href => "//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"}/

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{class: "#{controller.controller_name}-page #{controller.action_name}-page #{yield(:body_class)} #{'debug' if Rails.env.development?} #{current_user.nil? ? nil : 'admin'}"}
    %header{"data-no-turbolink" => true}
      .body-header
        .container
          .header-left
            .festival-date
              #{l(Date.parse("28 april"), format: "%e %b")} – #{l(Date.parse("7 may"), format: "%e %b")} / 2016 / #{ t("shared.geneva")}
            .social
              %a{:href => "http://www.instagram.com/mappingfestival", class: "fa fa-icon fa-instagram"}
              %a{:href => "http://www.twitter.com/mappingfestival", class: "fa fa-icon fa-twitter"}
              %a{:href => "https://www.facebook.com/mappingfest", class: "fa fa-icon fa-facebook"}
              - if I18n.locale == :en
                %form#mlb2-477433.newsletter-form{:action => "//app.mailerlite.fr/webforms/submit/r9a8o1", "data-code" => "r9a8o1", :target => "_blank"}
                  %button.ml-subscribe-button.fa.fa-icon.fa-inbox{:type => "submit"}
              - else
                %form#mlb2-448223.newsletter-form{:action => "//app.mailerlite.fr/webforms/submit/u2g5s5", "data-code" => "u2g5s5", :target => "_blank"}
                  %button.ml-subscribe-button.fa.fa-icon.fa-inbox{:type => "submit"}
          .header-middle
            .header-logo
              = link_to(image_tag( 'logo.svg', class: "header-logo"), root_path)
          .header-right
            .locales{class: I18n.locale}
              - if I18n.locale == :fr
                FR
                = link_to("EN", url_for(locale: :en), class: "en")
              - else
                = link_to("FR", url_for(locale: :fr), class: "fr")
                EN
            .news
              = link_to t(:news), news_index_path(locale: I18n.locale)
              =# link_to t('shared.program'), image_path(I18n.locale == :fr ? 'grille.pdf' : 'grid.pdf'), target: '_blank'
              = link_to 'tickets'
            .motto
              = t("shared.motto").html_safe
        #banner
          .logo.container
            %h1.logo
              - %w{M A P P I N G F E S T I V A L * 2 0 1 6}.each do |letter|
                %span.letter= letter
          %canvas#canvas
        = render 'layouts/navigation'
    %main
      .container
        .row
          .col-xs-12
            = yield
    = render 'layouts/footer'

    :plain
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-27024782-20', 'auto');
        ga('send', 'pageview');

      </script>
