!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{property:"og:site_name", content:"Mapping Festival 2016"}
    - desc = strip_tags(CGI.unescapeHTML("#{content_for?(:description) ? yield(:description) : 'The Mapping Festival is also a meeting point, a creative and collaborative platform with innovative spirit. Over the course of ten editions the Mapping Festival has grown steadily and emerged as one the most important events of its kind in Europe.'}")).gsub('&nbsp;', ' ')
    %meta{:name => "description", content: desc}
    %meta{property:"og:description", content: desc}
    %meta{property:"og:image", content:"#{content_for?(:image) ? yield(:image) : image_url('logo.svg')}"}
    %meta{property:"og:url", content: "#{content_for?(:url) ? yield(:url) : request.original_url}"}
    %meta{property:"og:type", content:"#{content_for?(:type) ? yield(:type) : 'website'}"}
    %meta{property:"og:title", content:"#{content_for?(:og_title) ? yield(:og_title) : 'Mapping Festival 2016'}"}
    %title= content_for?(:title) ? "Mapping Festival 2016 | #{yield(:title)}" : 'Mapping Festival 2016'
    %link{:rel => "stylesheet", :href => "//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"}/

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{class: "#{controller.controller_name}-page #{controller.action_name}-page #{yield(:body_class)} #{'debug' if Rails.env.development?} #{current_user.nil? ? nil : 'admin'}"}
    %header{"data-no-turbolink" => true}
      .body-header
        .container
          .row
            .col-xs-12.header-top= render 'layouts/header'
        #banner
          .container
            %h1.logo
              - %w{M A P P I N G F E S T I V A L * 2 0 1 6}.each do |letter|
                %span.letter= letter
        .container
          .row
            .col-xs-12= render 'layouts/navigation'
    %main.container
      .row
        .col-xs-12
          = yield
    = render 'layouts/footer'
    %canvas#canvas
    :plain
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-27024782-20', 'auto');
        ga('send', 'pageview');

      </script>
